/*
  ========================================
  $Reset
  ========================================
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
	 Part of
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
ul li,
input,
button {
  cursor: pointer;
}

/*
  ========================================
  $Base
  ========================================
*/
body {
  margin: 0 auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #FFFEF8;
  scroll-behavior: smooth;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  padding-top: 5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  font-family: "Syne";
  font-size: 30px;
  color: #1D6154;
}

a:link,
a:visited {
  color: currentColor;
}

a:hover,
a:focus,
a:active,
li .active,
h2 {
  font-weight: 700;
}

/*
  ========================================
  $Template
  ========================================
*/
.modal-delete__icon, .modal-delete__nav, .modal-add__border, .section-form--login, .banner-editor-mode, .portfolio__heading, .button-modify, .filters {
  display: flex;
  justify-content: center;
}

.photo-upload, #introduction, nav ul {
  display: flex;
  align-items: center;
}

.screen-main {
  max-width: 1140px;
  margin: 0 auto;
}

.screen-inner {
  max-width: 1040px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

nav ul {
  list-style-type: none;
}
nav li {
  padding-left: 44px;
  font-size: 1.2em;
}
nav li a:hover {
  color: #B1663C;
}

#introduction {
  gap: 72px;
  padding-bottom: 90px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

article p::selection,
figcaption::selection {
  color: #B1663C;
}

footer {
  background-color: #fff;
  padding: 24px 0;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.footer-login {
  margin-top: 300px;
}

/*
  ========================================
  $Icons
  ========================================
*/
/*
  ========================================
  $Portfolio
  ========================================
*/
.portfolio__heading {
  align-items: center;
  gap: 31px;
  margin-bottom: 51px;
}

#portfolio h2 {
  text-align: center;
}

.button-modify {
  align-items: baseline;
  gap: 5px;
  cursor: pointer;
}
.button-modify:hover {
  color: #B1663C;
  font-weight: 700;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 41px;
}
.gallery img {
  width: 100%;
}
.gallery figcaption {
  padding-top: 7px;
}

.filters {
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/*
  ========================================
  $Login
  ========================================
*/
input[type=text],
input[type=email],
input[type=password],
textarea,
select {
  font-family: "Work Sans";
  font-size: 14px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
  padding: 5px;
  color: #444;
}

input[type=text],
input[type=email],
input[type=password],
select {
  height: 45px;
}

.section-form {
  max-width: 380px;
  margin: auto;
}
.section-form > * {
  text-align: center;
}
.section-form h2 {
  margin-bottom: 20px;
}
.section-form form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.section-form label {
  margin: 2em 0 1em 0;
}

.section-form--contact {
  padding: 57px 0 45px 0;
}

.cta {
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 2em auto;
  padding: 9px 15px;
  border-radius: 60px;
  border: none;
  min-width: 100px;
  color: #fff;
  background-color: #1D6154;
}
.cta:hover, .cta:focus {
  background-color: #0E2F28;
}

.filters__cta {
  font-size: 16px;
  margin: 0;
  color: #1D6154;
  border: 1px solid #1D6154;
  background-color: transparent;
}
.filters__cta:hover {
  color: #fff;
}

.filters .active {
  color: #fff;
  background-color: #1D6154;
}
.filters .active:hover {
  background-color: #0E2F28;
}

.contact__cta {
  width: 179px;
}

.login__cta {
  width: 179px;
}

.modal__cta {
  width: 237px;
  margin: 0;
}
.modal__cta:disabled {
  width: 237px;
  background-color: #A7A7A7;
}

/* Login */
.section-form--login {
  flex-direction: column;
  padding: 150px 0px 355px 0px;
}
.section-form--login a {
  text-decoration: underline;
}

#login-form__wrapper .error {
  border: 2px solid #B1663C;
}

/* Banner editor mode */
.banner-editor-mode {
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 21px 0;
  font-size: 1.2em;
}
.banner-editor-mode p {
  padding-left: 10px;
}

/* Default is-logged-out */
.visitor-mode {
  display: block;
}

.editor-mode {
  display: none;
}

/*
  ========================================
  $Modal
  ========================================
*/
.modal__page--1 {
  display: block;
}

.modal__nav--back,
.modal__page--2 {
  display: none;
}

.modal {
  width: 647px;
  height: 685px;
  overflow: hidden;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  padding: 0;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__nav--back, .modal__nav--close {
  position: absolute;
  padding: 5px;
  cursor: pointer;
}
.modal__nav--back {
  top: 22px;
  left: 25px;
}
.modal__nav--close {
  top: 27px;
  right: 31px;
}
.modal__heading {
  padding-top: 60px;
  font-family: "Work Sans";
  font-size: 26px;
  text-align: center;
}
.modal__wrapper {
  padding: 40px 105px;
}

.modal-delete__gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 28px;
}
.modal-delete figure {
  position: relative;
}
.modal-delete__image {
  width: 100%;
}
.modal-delete__icon {
  cursor: pointer;
  position: absolute;
  align-items: center;
  top: 6px;
  right: 5px;
  width: 17px;
  height: 17px;
  background-color: #000;
  z-index: 2;
  border-radius: 3px;
}
.modal-delete__trash {
  padding: 5px;
  width: 9px;
  height: 11px;
}
.modal-delete__nav {
  align-items: center;
  margin-top: 67px;
  padding-top: 38px;
  border-top: 2px solid #b3b3b3;
}
.modal-delete__cta {
  margin: 0;
}

.modal-add__form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 420px;
}
.modal-add__border {
  align-items: center;
  margin-top: 47px;
  padding-top: 32px;
  border-top: 2px solid #b3b3b3;
}

.photo-upload {
  flex-direction: column;
  gap: 7px;
  background-color: #E8F1F6;
  padding: 22px 0 19px 0;
}
.photo-upload__label {
  display: inline-block;
  background-color: #CBD6DC;
  color: #306685;
  margin-top: 6px;
  padding: 10px 33px;
  border-radius: 50px;
  cursor: pointer;
}
.photo-upload__input {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: circle(0);
}
.photo-upload p {
  font-size: 10px;
  color: #444444;
}

.photo-title__label {
  padding: 30px 0 10px;
}

.photo-category__label {
  padding: 21px 0 10px;
}

/*# sourceMappingURL=style.css.map */
