/*
  ========================================
  $Login
  ========================================
*/

@use '../base' as b;


// Global

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
	font-family: 'Work Sans';
	font-size: 14px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	padding: 5px;
	color: #444;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
	height: 45px;
}


// Form

.section-form {
	max-width: 380px;
	margin: auto;

	& > * {
		text-align: center;
	}

	& h2 {
		margin-bottom: 10px;
		@include b.bp(medium) {
			margin-bottom: 20px;
		}
	}

	& form {
		text-align: left;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		padding: 0 20px;
		@include b.bp(medium) {
			padding: 0;
			margin-top: 30px;
		}
	}

	& label {
		margin: 2em 0 1em;
	}
}


// Contact

.section-form--contact {
	padding: 40px 20px;
	@include b.bp(medium) {
		padding: 57px 0 45px;
	}
}


// CTA

.cta {
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin : 2rem auto 1rem ;
	padding: 9px 15px;
	border-radius: 60px;
	border: none;
	min-width: 100px;
	color: #fff;
	background-color: #1D6154;

	&:hover {
		background-color: #0E2F28;
	}

	&:focus-visible {
		outline: none;
	}
}

.filters__cta {
	font-size: 16px;
	margin: 0;
	color: #1D6154;
	border: 1px solid #1D6154;
	background-color: transparent;

	&:hover {
		color: #fff;
	}
}

.filters .active {
	color: #fff;
	background-color: #1D6154;

	&:hover {
		background-color: #0E2F28;
	}
}

.contact__cta {
	width: 179px;
}

.login__cta {
	width: 179px;
}

.modal__cta {
	width: 237px;
	margin: 0;

	&:disabled {
		width: 237px;
		background-color: #A7A7A7;
		cursor: default;
	}
}


// Login

.section-form--login {
	@extend %flex--center;
	flex-direction: column;
	padding: 50px 0;
	@include b.bp(medium) {
		padding: 75px 0;
	}

	& a {
		text-decoration: underline;
		padding-top: 15px;
	}
}

#login-form__wrapper .error {
	border: 2px solid #B1663C;;
}


// Banner editor mode

.banner-editor-mode {
	@extend %flex--center;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 21px 0;
	font-size: 1.2em;

	& p {
		padding-left: 10px;
	}
}

.visitor-mode {
	display: block; // Default is-logged-out
}

.editor-mode {
	display: none;
}


// Gestion des messages

.message--ok {
	padding-top: 21px;
	color: #1D6154;
}

.message--error {
	padding-top: 21px;
	color:#B1663C;
}