/*
  ========================================
  $Login
  ========================================
*/

@use '../base' as b;


// Global
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
	font-family: 'Work Sans';
	font-size: 14px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	padding: 5px;
	color: #444;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
	height: 45px;
}


// Form
.section-form {
	max-width: 380px;
	margin: auto;

	& > * {
		text-align: center;
	}

	& h2 {
		margin-bottom: 20px;
	}

	& form {
		text-align: left;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}

	& label {
		margin: 2em 0 1em 0;
	}
}


// Contact
.section-form--contact {
	padding: 57px 0 45px 0;
}


// CTA
.cta {
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin : 2em auto ;
	padding: 9px 15px;
	border-radius: 60px;
	border: none;
	min-width: 100px;
	color: #fff;
	background-color: #1D6154;

	&:hover {
		background-color: #0E2F28;
	}

	&:focus-visible {
		outline: none;
	}
}

.filters__cta {
	font-size: 16px;
	margin: 0;
	color: #1D6154;
	border: 1px solid #1D6154;
	background-color: transparent;

	&:hover {
		color: #fff;
	}
}

.filters .active {
	color: #fff;
	background-color: #1D6154;

	&:hover {
		background-color: #0E2F28;
	}
}

.contact__cta {
	width: 179px;
}

.login__cta {
	width: 179px;
}

.modal__cta {
	width: 237px;
	margin: 0;

	&:disabled {
		width: 237px;
		background-color: #A7A7A7;
		cursor: default;
	}
}


/* Login */

.section-form--login {
	@extend %flex--center;
	flex-direction: column;
	padding: 150px 0px 355px 0px;

	& a {
		text-decoration: underline;
	}
}

#login-form__wrapper .error {
	border: 2px solid #B1663C;;
}


/* Banner editor mode */

.banner-editor-mode {
	@extend %flex--center;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 21px 0;
	font-size: 1.2em;

	& p {
		padding-left: 10px;
	}
}

/* Default is-logged-out */
.visitor-mode {
	display: block;
}

.editor-mode {
	display: none;
}