/*
  ========================================
  $Modal
  ========================================
*/

@use '../base' as b;

// @extend %flex--center;
// @extend %flex-a--center;


// 
.modal__page--1 {display: block;}

// nav--back
.modal__nav--back,
.modal__page--2 {display: none;}

// @Adam Argyle : le défilement est bloqué lorsque le dialog est ouvert
html:has(dialog[open]) {
  overflow: hidden;
}

.modal {
  width: 647px;
  height: 685px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  padding: 0;

  &::backdrop {
    background-color: rgb(0 0 0 / 0.3);
  }  

  &__nav--back,
  &__nav--close {
    position: absolute;
    padding: 5px;
    cursor: pointer;
  }

  &__nav--back {
    top: 22px;
    left: 25px;
  }

  &__nav--close {
    top: 27px;
    right: 31px;
  }

  &__heading {
    padding-top: 60px;
    font-family: 'Work Sans';
    font-size: 26px;
    text-align: center;
  }

  &__wrapper {
    padding: 40px 105px;
  }
}


.modal-delete {

  &__gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 28px;
  }

  & figure {
    position: relative;
  }

	&__image {
		width: 100%;
	}  

  &__icon {
    cursor: pointer;
    position: absolute;
    @extend %flex--center;
    align-items: center;
    top: 6px;
    right: 5px;
    width: 17px;
    height: 17px;
    background-color: #000;
    z-index: 2;
    border-radius: 3px;
  }

	&__trash {
    padding: 5px;;
    width: 9px;
    height: 11px;
	}

  &__nav {
    @extend %flex--center;
    align-items: center;
    margin-top: 47px;
    padding-top: 38px;
    border-top: 2px solid #b3b3b3;
  }

  &__cta {
    margin: 0;
  }
  
}


.modal-add {

  &__form {
    text-align: left;
		display: flex;
		flex-direction: column;
    width: 420px;
  }
  
  &__border {
    @extend %flex--center;
    align-items: center;
    margin-top: 47px;
    padding-top: 32px;
    border-top: 2px solid #b3b3b3;
  }

  &__message {
    display: none;
    padding-top: 21px;

    &--ok {
      color: #1D6154;
    }

    &--error {
      color:#B1663C;
    }
  }
}

.photo-upload {
  @extend %flex-a--center;
  flex-direction: column;
  position: relative;
  background-color: #E8F1F6;

  &__placeholder {
    padding: 22px 0 13px;
  }

  &__input {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: circle(0);
  }

  &__details {
    font-size: 10px;
    color: #444444;
    padding: 7px 0 19px;
  }
}

.photo__title {
  padding: 30px 0 10px;
}

.photo__category {
  padding: 21px 0 10px;
}

.photo-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__button {
    background-color: #CBD6DC;
    color: #306685;
    padding: 10px 33px;
    border-radius: 50px;
    border: none;
  }

  &--uploaded {
    max-height: 166px;
    object-fit: contain;
  }
}