/*
  ========================================
  $Portfolio
  ========================================
*/

@use '../base' as b;

// @extend %flex--center;
// @extend %flex-a--center;


// Heading

.portfolio__heading {
	@extend %flex--center;
	align-items: center;
	gap: 31px;
	margin-bottom: 51px;
}

#portfolio h2 {
	text-align: center;
}

.button-modify {
	@extend %flex--center;
	align-items: baseline;
	gap: 5px;
	cursor: pointer;

	&:hover {
		color: #B1663C;
		font-weight: 700;
	}
}


// Gallery

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-top: 41px;

	& img {
		width: 100%;
	}

	& figcaption {
		padding-top: 7px;
	}
}


// Filters

.filters {
	@extend %flex--center;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}