/*
  ========================================
  $Template
  ========================================
*/



// Footer

footer {
	height: 60px;
	background-color: #fff;
	padding: 24px 107px 20px 0;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}