/*
  ========================================
  $Template
  ========================================
*/

%flex--center {
	display: flex;
	justify-content: center;
}

%flex-a--center {
	display: flex;
	align-items: center;
}

.screen-main {
	max-width: 1140px;
	margin: 0 auto;
}

.screen-inner {
	max-width: 1040px;
	margin: 50px auto;
}

// $Breakpoints

@mixin bp($point) {
  @if $point == large {
    @media screen and (width > 1024px) { @content; }
  }
  @else if $point == medium {
    @media screen and (width >= 768px) { @content; }
  }
  @else if $point == small/medium {
    @media screen and (768px <= width <= 1024px) { @content; }
  }    
}

// @include a.bp(medium) {}
// @include a.bp(small/medium) {}
// @include a.bp(large) {}


// Header

header {
	display: flex;
	flex-direction: column;
	padding: 50px 40px;
	@include bp(medium) {
		flex-direction: row;
		justify-content: space-between;

	}
}


// Navigation

nav {
	& ul {
		@extend %flex-a--center;
		list-style-type: none;
	}

	& li {
		font-size: 1.2em;
		padding-right: 22px;
		@include bp(medium) {
			padding-left: 44px;
		}

		& a:hover {
			color: #B1663C;
		}
	}
}


// Introduction

#introduction {
	@extend %flex-a--center;
	flex-direction: column;
	gap: 72px;
	padding-bottom: 90px;
	@include bp(medium) {
		flex-direction: row;
	}

	& figure {
		flex: 1;
	}
	& img {
		display: block;
		margin: auto;
	}
	& article {
		flex: 1;
		padding: 0 20px;
		@include bp(medium) {
			padding: 0;
		}
	}
	& h2 {
		margin-bottom: 1em;
	}
	& p {
		margin-bottom: 0.5em;
	}
}

article p::selection,
figcaption::selection {
	color: #B1663C;
}


// Footer

footer {
	background-color: #fff;
	padding: 24px 0;

	& nav ul {
		display: flex;
		justify-content: flex-end;
		margin: 2em
	}
}

.footer-login {
	margin-top: 300px;
}